{% extends 'censura/base.html' %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<div>
		<p>
			Welcome to Censura! This is a movie review website where you can read and write reviews about movies. 
			Our goal is to provide a platform for movie enthusiasts to share their thoughts and opinions about the latest films.
			Whether you love or hate a movie, we want to hear from you!
			Connect with other users, discover new movies, and share your reviews with the world.
		</p>

		<p>
			Become a member today! Sign up <a href="{% url 'censura:signup' %}">here</a>.
		</p>
	</div>
{% endblock %}