{% extends 'censura/base.html' %}

{% block title_block %}
	{{ user.username }}'s account
{% endblock %}

{% block body_block %}

    <h2>{{ user.username }}'s Account</h2>
    {% if user.userprofile.picture %}
        <img src="{{ user.userprofile.picture.url }}" alt="Profile Picture" style="width: 150px; height: auto;">
    {% else %}
        <img src="media/default_picture.jpg" alt="Profile Picture" style="width: 150px; height: auto;">
    {% endif %}

	<input type="text" id="movie-search" placeholder="Search for a movie..." onkeyup="searchMovies()">
    <ul id="search-results"></ul>

    <div class="account-links">
    {% if user != user_profile.user %}   
            <a href="{% url 'censura:my_reviews' user.username %}">My Reviews</a>
            <a href="{% url 'censura:my_favourites' user.username %}">My Favourites</a>
            <a href="{% url 'censura:edit_profile' user.username %}">Edit Profile</a>
    {% else %}
            <a href="{% url 'censura:my_reviews' user.username %}">See {{ user.username }}'s Reviews</a>
            <a href="{% url 'censura:my_favourites' user.username %}">See {{ user.username }}'s Favourites</a>
    {% endif %}
    </div>

{% endblock %}

