<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Censura -
            {% block title_block %}
                Welcome to Censura!
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
    <div>
        <ul class="navbar">
            {% if user.is_authenticated %}
                <li><a href="{% url 'censura:logout' %}">Log out</a> </li>
            {% else %}
                <li><a href="{% url 'censura:login' %}">Login</a> </li>
                <li><a href="{% url 'censura:signup' %}">Sign Up</a> </li>
            {% endif %}

            
            <li><a href="{% url 'censura:movies' %}">Movies</a> </li>
            <li><a href="{% url 'censura:about' %}">About</a> </li>
            <li><a href="{% url 'censura:index' %}">Home</a> </li>
        </ul>
    </div>

    {% block body_block %}

    {% endblock %}

    </body>

</html>