<!-- filepath: c:\Computing\Computing\Year_2\WAD2\Team_Project_3C\WAD2-3C-Censura\templates\censura\base.html -->
<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Censura -
            {% block title_block %}
                Welcome to Censura!
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <div>
        <ul class="navbar">
            <li class="brand"><a href="{% url 'censura:index' %}">Censura</a></li>

            <div class="nav-links">

                {% if user.is_authenticated %}
                    <li><a href="{% url 'censura:my_account' user.username %}">My Account</a></li>
                    <li><a href="{% url 'censura:edit_profile' user.username %}">Edit Profile</a></li>
                    <li><a href="{% url 'censura:logout' %}">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'censura:login' %}">Login</a></li>
                    <li><a href="{% url 'censura:signup' %}">Sign Up</a></li>

                {% endif %}
                
                <li><a href="{% url 'censura:movies' %}">Movies</a></li>
                <li><a href="{% url 'censura:about' %}">About</a></li>
                <li><a href="{% url 'censura:index' %}">Home</a></li>

            </div>

        </ul>
    </div>

    <body>

    {% block body_block %}

    {% endblock %}

    <script>
        var searchMoviesUrl = "{% url 'censura:ajax_search_movies' %}";  // Pass Django URL to JS
    </script>
    <script src="{% static 'js/movie_search.js' %}"></script>
    
    </body>

</html>