{% extends 'censura/base.html' %}
{% load static %} 

{% block title_block %}
    {{ user.username }}'s Favourites
{% endblock %}

{% block body_block %}

<h2>{{ user.username }}'s Favourite Movies</h2>

<div id="infinite-scroll-container">
    {% for movie in liked_movies %}
        <div class="scroll-item">
            <img src="{{ movie.image.url }}" alt="{{ movie.name }}">
            <h4>{{ movie.name }}</h4>
            <p>Directed by: {{ movie.director }}</p>
            <p>Released: {{ movie.release_date }}</p>
        </div>
    {% empty %}
        <p>No favourite movies yet.</p>
    {% endfor %}
</div>

<!-- Infinite Scroll Loader -->
<div id="loading" style="display: none;">Loading more...</div>

<script src="{% static 'js/infinite_scroll.js' %}"></script>

{% endblock %}
