{% extends 'censura/base.html'%}

{% block title_block %}
    Find Friends
{% endblock %}

{% block body_block %}
    <ul>
        {% for user in users %}
            {% if user.user.username %}
                <li>
                    <a href="{% url 'censura:my_account' user.user.username %}">{{ user.user.username }}</a>
                    {% if user in friends %}
                        <span style="color: green;">(Friend)</span>
                    {% else %}
                        <form method="POST" action="{% url 'censura:add_friend' user.user.username %}" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                            <button type="submit" class="btn btn-primary">Add Friend</button>
                        </form>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}