{% extends 'censura/base.html' %}

{% block body_block %}

	<h1><strong>Censura</strong></h1>

	<div>
		<h2>New Users</h2>
		<a href="{% url 'censura:signup' %}">Sign up</a> for a new account.
	</div>

	<div>
		<h2>Existing Users</h2>
		<a href="{% url 'censura:login' %}">Login</a> to your account.
	</div>

	<div>
		<h2>Recent Releases</h2>
		<ul>
			{% for movie in movies_release_order %}
				<li><img src="{{ movie.image.url }}" alt="{{ movie.name }}"> </li>
			{% endfor %}
		</ul>
	</div>



{% endblock %}