{% extends 'censura/base.html' %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 5%;">
	<h1 class="mb-4">Login</h1>

	{% if error_message %}
	<div class="alert alert-danger text-center" role="alert">
		{{ error_message }}
	</div>
	{% endif %}
	
	<form id="login_form" class="form-group col-lg-6 align-items-center" method="post" action="{% url 'censura:login' %}">
		{% csrf_token %}
	
		<div class="mb-3">
			<label for="username" class="form-label">Username</label>
			<input type="text" id="username" name="username" class="form-control" placeholder="Enter your username"
				required>
		</div>
	
		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<input type="password" id="password" name="password" class="form-control" placeholder="Enter your password"
				required>
		</div>
	
		<button type="submit" class="btn btn-dark">Login</button>
	</form>
</div>


{% endblock %}