{% extends 'censura/base.html' %}

{% block title_block %}
	Movies
{% endblock %}

{% block body_block %}
	<!-- <div class="grid-container">
		{% for movie in movies %}
		<a href="{% url 'censura:movie' movie.slug %}">
			<div class="grid-item">
				<img src="{{ movie.image.url }}" alt="{{ movie.slug }}">
				<div class="title">{{movie.name}}</div>
			</div>
		</a>
		{% endfor %}
	</div> -->

	<div class="container">
		
		<div class="row">
			{% for movie in movies %}
			<div class="col-lg-2 col-md-4 col-sm-6">
				<a style="text-decoration: none;color: inherit;" href="{% url 'censura:movie' movie.slug %}">
					<div class="card movie-card text-center">
						<img src="{{ movie.image.url }}" class="card-img-top" alt="{{ movie.slug }}">
						<div class="overlay">
							<p class="overlay-text">{{ movie.name }}</p>
						</div>
					</div>
				</a>
				
			</div>
			{% endfor %}
		</div>
		
	
	</div>

	<div class="pagination">
		{% if movies.has_previous %}
		<a class="btn btn-dark" href="?page=1">First</a>
		<a class="btn btn-dark" href="?page={{ movies.previous_page_number }}">Prev</a>
		{% endif %}
	
		<span>Page {{ movies.number }} of {{ movies.paginator.num_pages }}</span>
	
		{% if movies.has_next %}
		<a class="btn btn-dark" href="?page={{ movies.next_page_number }}">Next</a>
		<a class="btn btn-dark" href="?page={{ movies.paginator.num_pages }}">Last</a>
		{% endif %}
	</div>

	{% if favourites %}
		<a href="{% url 'censura:my_account' user.username %}">Back</a>
	{% endif %}

{% endblock %}