{% extends 'censura/base.html' %}
{% load static %}
{% block title_block %}
{{ movie.name }}: {{ review.user.username }}'s Review
{% endblock %}

{% block body_block %}

<div style="display: flex; justify-content: space-between; align-items: flex-start;">
    <div class="review">
        <div style="display: flex; justify-content: space-between; align-items: center; align-items: flex-start;">
            <h2>{{ review.user.username }}'s Review</h2>
            {% if user.is_authenticated %}
            <button class="like-review-btn" data-review-id="{{ review.id }}">
                <span class="thumb {% if user in review.likes.all %}liked{% endif %}">
                    👍 <span class="like-count">{{ review.likes.count }}</span>
                </span>
            </button>
            {% endif %}
        </div>
        <p>Rating: {{ review.rating }}/10</p>
        <div class="review-text" style="display: inline-block;
        max-width: 100%; word-break: break-word;
        overflow-wrap: break-word; white-space: pre-line;
        font-family: inherit; ">{{ review.text }}</div>
        <p class="review-date">{{ review.created_at|date:"F d, Y" }}</p>
        {% if review.user == user %}
        <a class="btn btn-dark" href="{% url 'censura:delete_review' review.id %}"><i class="fa fa-trash"></i></a>
        {% endif %}

        <div>
            {% for comment in comments %}
            <div class="review">
                {% if comment.user == review.user %}
                    <h5 style="color: blue">{{ comment.user.username }}</h5>
                {% else %}
                    <h5>{{ comment.user.username }}</h5>
                {% endif %}

                <p>{{ comment.text }}</p>

                {% if comment.user == user or user.is_superuser %}
                    <a href="{% url 'censura:delete_comment' comment.id %}" class="btn btn-dark">Remove</a>
                {% endif %}

                <p class="review-date">{{ comment.created_at|date:"F d, Y" }}</p>
            </div>
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'censura:review' movie.slug review.user.username %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit Comment</button>
        </form>
        {% else %}
        <p><a href="{% url 'censura:login' %}">Login</a> to make a comment</p>
        {% endif %}
    </div>

    
    
    <div class="movie_poster">
        <h1><strong>{{ movie.name }}</strong></h1>
        <img class="movie" src="{{ movie.image.url }}" alt="{{ movie.name }}"  style="width: 70%">
    </div>
    
</div>







{% endblock %}