@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

body {
  font-family: 'Figtree';
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar .brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Figtree', sans-serif;
}

.navbar .nav-links {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}





/* Style for the movie list */
.movie_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: left; /* Center the movies horizontally */
}

.movie_element {
  flex: 1 1 calc(20% - 20px); /* Adjust the percentage to control the width */
  max-width: 200px;
  text-align: center;
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie span {
  display: block;
  margin-top: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.movie_element li {
  flex: 1 1 calc(20% - 20px); /* Adjust the percentage to control the width */
  max-width: 200px;
  text-align: center;
}

.grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
            gap: 10px;
            padding: 20px;
            background-color: #f4f4f4;
        }

        .grid-item {
            text-align: center;
            background: white;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        .grid-item img {
            width: 50%;
            height: auto;
            display: block;
            border-radius: 10px;
        }

        .title {
            margin-top: 10px;
            font-size: 1.2em;
            font-weight: bold;
            color: #333;
        }

img {
  width: 15%;
}